body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container .grid-element {
  border: solid 1px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}
